* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* Screen width < 990px  */
 @media screen and (max-width: 990px) {

   .row {
     width: 100%;
   }

   #lezioni .row > .left, #lezioni .row > .right {
     margin: 10px 20px;
     width: calc(100% / 2 - 40px);
   }

   /* Image adapts to the width of the viewport */
   #lezioni .row img, #steps .row img {
     max-width: 100%;
   }

 }

/* Screen width < 420px */
@media screen and (max-width: 420px) {

  /* row with 100% for a responsive line (instead of absolute value of 992px)*/
  .row {
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  /* Image adapts to the width of the viewport */
  #lezioni .row img, #steps .row img {
    max-width: 100%;
  }

  /* Section Lezioni */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    margin: 0 0 60px 0;
  }

  /* Section Steps */
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    float: none;
    width: 100%;
    margin-bottom: 60px;
  }

  /* Section Why */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin: 30px 0;
  }

  #why hr {
    width: 50%;
    margin: 15px auto;
  }

  #why img {
    max-width: 100%;
  }
}
